/* estilos globales */
@import './normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Roboto+Slab:wght@300;400;500;700&display=swap');


:root {
    font-family: 'Montserrat', sans-serif;
    --color-green:#4f5d2f;
    --color-light-green:#9ae19d;
    --color-grey:#495057;
    --color-errors:#e63946;
    --color-dark-grey:#343a40;
}

body {
    background-color: var(--color-green);
    /* background-image: url('https://thumbs.dreamstime.com/b/panorama-hermoso-del-paisaje-verano-prado-y-flores-cielo-azul-110363522.jpg'); */
    
}

a {
    text-decoration: none;
}

input {
    font-family: 'Montserrat', sans-serif;
}

#cards {
    display: inline-block;
    flex-direction: row;
    grid-column: 1 / span 3;
}

.btn {
    position: relative;
    background-color: white;
    border-radius: .5em;
    color: var(--color-green);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    padding: 0.5em 1em;
    min-height: 2.5em;
    min-width: 6em;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    margin: 0.75rem;
    cursor: pointer;

    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s;
}
.btn:hover {
    background-color: var(--color-light-green);
}

.error {
    font-size: small;
    font-style: italic;
    color: var(--color-errors);
    margin-top: -.5rem;
    margin-bottom: .5rem;
}

.navBar {
    box-sizing: border-box;
    /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); */
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;

}

.navBar h1 {
    font-size: 30px;
    margin: 1rem;
    color: white;
}

Link{
    margin-right: auto;
    margin: 1rem;
}

.sort, .weightSort, .created, .temps {
    margin: 0.3rem;
    padding: 0.25rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-size: 14px;
    color: white;
    background-color: var(--color-green);

}

.btnHome {
    border-radius: 50%;
    background-color: var(--color-green);
    color: white;
    font-size: 2rem;
    padding: 0.23em;
    height: 3rem;
    width: 3rem;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin: .5rem;
    cursor: pointer;
    border-color: white;
    /* box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5); */
    transition: background-color 0.25s; 

    align-items: flex-start;
}

.btnHome:hover {
    color: var(--color-green);
    background-color: whitesmoke;
}

.btnHome2 {
    border-radius: 50%;
    background-color: var(--color-green);
    color: white;
    font-size: 1.5rem;
    padding: 0.5em;
    height: 3rem;
    width: 3rem;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin: -1.75rem;
    cursor: pointer;
    border-color: white;
    /* box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5); */
    transition: background-color 0.25s; 

    align-items: flex-start;
}

.btnHome2:hover {
    color: var(--color-green);
    background-color: whitesmoke;
}

.loading {
    font-size: 20px;
    color: white;
    margin: auto;
    margin-top: 20%;
}